footer
	div.container
		div.row
			div.col-md-12
				ul(class="unstyled center list-circle-icons list-circle-icons-small")
					li
						a(href="https://www.twitter.com/ntindicators", title="Follow us on Twitter", data-rel="tooltip", data-toggle="tooltip")
							span(class="fa fa-twitter")
				ul.list-inline
					li: a(href="/index.html") Home
					li: a(href="/ninjatrader-indicators.html") Indicators
					li: a(href="/contact.html") Contact
					li: a(href="/sitemap.html") Sitemap
				p &copy; Copyright 2014. NTIndicators.

