doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Test Jade Template
    body
        p Hola que tal?
        ul
            li opción 1
            li opción 2
            li opcion 3
            li Hay que usar
